body {
    display:grid;
    grid-template-columns: auto auto auto 
}

button {
    padding: 0;
    margin:0;
    font-size: 50;
    font-weight: 300;
    height: 33.33vh;
    width:33.33vw;
}

